.chatPage {
    width: 100dvw;
    height: 100dvh;
    color: white;
    background-color: #060609;
}

.chatPageContent {
    display: flex;
}

.chatPageSideBar {
    width: 400px;
    background-color: #060609;
    height: 90dvh;
}
.chatPageMain {
    display: flex;
    width: 100%;
}


.chatPageMainTop {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.chatPageMainHeader {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.chatPageSideBarTop {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    gap: 18px;  
    flex-direction: column;
    overflow-y: scroll;
    height: 70%;
}

.chatPageUserSearch {
    max-width: 100%;
    height: 30px;
    text-align: center;
    font-family: "Poppins";
    font-size: 0.8em;
    background-color: black;
    color: white;
    border-color: rgb(43, 252, 207);

}

input[type="text"] {
    font-size: 0.8em; 
}

.fade {
    height: 1px;
    background-color: white;
    width: 80dvw;
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}

.fadeColumn {
    height: 90dvh;
    background-color: white;
    width: 1px;
    margin: auto 0;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}

.userSearchList {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}
.userSearchItem {
    max-width: 100%;
    height: 30px;
    background-color: #060609;
    color: white;
    border: none;
    font-family: "Poppins";
    font-size: 0.8em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatPageChats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatPageChat {
    width: 100%;
    height: 30px;
    background-color: #060609;
    color: white;
    border: none;
    font-family: "Poppins";
    font-size: 0.8em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatPageMain {
    display: flex;
    flex-direction: column;
}

.chatPageMainBottom {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.messageBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBarInput {
    background-color: black;
    font-family: "Poppins";
    border-color: white;
    border-style: solid;
    border-width: 4px;
    font-size: 1em;
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 50%;
    outline: none;
}
.messageBar:focus {
    outline: none;
}

.chatPageMessages {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70dvh;
    margin-bottom: 32px;
    overflow-y: scroll;
}

.chatPageMessage {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chatPageSideBarBottom {
    height: 20%;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.selectedChat {
    background-color: rgb(43, 252, 207);
    width: 100%;
    color: black;
}

.smallText {
    font-size: 0.8em;
}
.chatPageMessageTop {
    display: flex;
    gap: 8px;
}

.chatPageMessageContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media only screen and (max-width: 800px) {
    .chatPageContent {
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }

    .fadeColumn {
        visibility: hidden;
    }
    .chatPageSideBar {
        align-items: center;
    }
    .chatPageSettings {
        margin-right: 20px;
    }
    .chatPageSideBar {
        height: 50dvh;
    }
    .chatPageSideBarTop {
        height: 90%;
    }
    .chatPageSidebarBottom {
        height: 80px;
    }
    .chatPageMain {
        margin-top: 20dvh;
        width: 90dvw;
    }
    .chatPageMessages {
        width: 80dvw;
    }
}