.footer {
    width: 100dvw;
    height: 100px;
    color: white;
    background-color: #060609;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

.fade {
    height: 1px;
    background-color: white;
    width: 80dvw;
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
}

.footerContent {
    width: 80dvw;
    height: 99px;
    display: flex;
    justify-content: space-between;
}

.footerHeader {
    font-size: 1em;
    text-align: center;
}

.footerLeft {
    width: 40ch;
}

.footerMiddle {
    width: 40ch;
}
.footerRight {
    width: 40ch;
}

.marginBottom {
    margin-bottom: 40px;
}
