body {
    overflow-x: hidden;
    }

.homepage {
    max-width: 100dvw;
    height: 1200px;
    background-color: #060609;
  }


.homepageContent {
    max-width: 100dvw;
    background-color: #060609;
    display: flex;
    flex-direction: column;
    
}