
.navBar {
    display: flex;
    max-width: 100dvw;
    justify-content: space-between;
    padding-left: 10dvw;
    padding-right: 10dvw;
    padding-top: 32px;
    padding-bottom: 32px;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(18, 18, 26, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 20px 0px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: 80px;
}

.navLinks {
    display: flex;
    gap: 48px;
}

.black {
  color: rgb(18, 18, 26);
}

ul {
    list-style-type: none;
}

Link {
    color: white;
    text-decoration: none;
}
a {
    color: white;
    text-decoration: none;  
}


.animated {
    background: radial-gradient(
      circle at 100%,
      #00ffea,
      #00c5df 50%,
      #00e3eb 75%,
      #00e1ff 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
  }
  
  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }
  